body {
    background-color: rgb(6, 6, 23);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

.header-box {
    background-color: white;
    height: 130px;
    padding: 10px 30px 5px 35px;
    color: black;
}

.header-box > .headliners {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
}

.header-box > .headliners > * {
    margin: 23px 0 -4px 0;
}


.header-box > .headliners > p {
    font-family: monospace;
}

.header-box img {
    display: inline-flex;
    width: 75px;
    height: auto;
    float: right;
}

.aboutMe-avatar {
    width: 75px;
    height: auto;
    float: right;
}

.main-box {
    position: relative;
    padding: 56px 70px 60px 40px;
}

.main-box > * {
    z-index: 999;
}

.main-box > img {
    top: 0;
    position: absolute;
    opacity: 0.5;
    filter: contrast(1.9) brightness(0.4) saturate(0.7);
    transform: rotateY(180deg);
    z-index: -999;
    width: 35%;
    right: 0;
    margin-right: 1%;
    margin-top: 1%;
}

.quotation {
    font-family: -webkit-pictograph;
    font-style: italic;
    font-size: 17px;

}

.gitgraph > img {
    width: 20%;
    filter: invert(0.8) hue-rotate(624deg) saturate(54) brightness(0.62) drop-shadow(2px 4px 6px black);
    transform: rotate(90deg);
    position: absolute;
    left: -124px;
    top: 363px;
}