body {
    background-color: rgb(6, 6, 23);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

.header-box {
    background-color: white;
    height: 110px;
    padding: 10px 30px 5px 35px;
    color: black;
}

.header-box img {
    display: inline-flex;
    width: 75px;
    height: auto;
    float: right;
}

.header-box > .headliners {
    display: inline-flex;
}

.main-box {
    position: relative;
    padding: 40px 70px 60px 40px;
}

.main-box > * {
    z-index: 999;
}

.main-box > img {
    top: 0;
    position: absolute;
    opacity: 0.5;
    filter: contrast(1.9) brightness(0.4) saturate(0.7);
    transform: rotateY(180deg);
    z-index: -999;
    width: 35%;
    right: 0;
    margin-right: 6%;
}

.quotation {
    font-family: -webkit-pictograph;
    font-style: italic;
    font-size: 17px;

}